{% extends "mainapp/page.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="col-md-6 m-auto">
        <div class="card">
            <div class="card-header py-3 d-flex justify-content-between">
                <h3 class="m-0 font-weight-bold text-primary">Регистрация</h3>
            </div>
            <div class="p-3">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {% buttons submit='Войти' %}{% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
