{% extends 'mainapp/base.html' %}

{% block menu %}
{% if user.is_authenticated %}
    <p> Вы авторизованы. </p>
    <a class="nav-link" href="{% url 'auth:logout' %}">Выйти <i class="fas fa-sign-in-alt"></i></a>
{% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'auth:login' %}">Войти <i class="fas fa-sign-in-alt"></i></a>
        <a class="nav-link" href="{% url 'auth:register' %}">Зарегистрироваться <i class="fas fa-sign-in-alt"></i></a>
    </li>
{% endif %}

{% endblock %}

{% block content %}
  <div class="page-index">
    <section class="container">
      <div id="welcome">
        <h1 class="text-darkcyan">Добро пожаловать на сайт TechInspect</h1>
        <h2 class="">Теперь вы с легкостью будете контролировать расходы на авто, своевременно проводить ТО и планировать предстоящие расходы</h2>
        <a href="{% url 'car_park:index' %}" class="btn btn-success btn-lg mt-3">Перейти в гараж</a>
      </div>
    </section>
  </div>
{% endblock %}
